/Account.workflow
/Asset.workflow
/Campaign.workflow
/CampaignMember.workflow
/Case.workflow
/Contract.workflow
/Event.workflow
/Idea.workflow
/Opportunity.workflow
/OpportunityLineItem.workflow
/Organization.workflow
/Product2.workflow
/Question.workflow
/Reply.workflow
/Site.workflow
/SocialPersona.workflow
/SocialPost.workflow
/Solution.workflow
/Task.workflow
/UserLicense.workflow
