/Admin.profile
/Chatter External User.profile
/Chatter Free User.profile
/Chatter Moderator User.profile
/ContractManager.profile
/Custom%3A Marketing Profile.profile
/Custom%3A Sales Profile.profile
/Custom%3A Support Profile.profile
/CustomerManager.profile
/Force%2Ecom - Free User.profile
/Guest.profile
/HighVolumePortal.profile
/MarketingProfile.profile
/Partner.profile
/PlatformPortal.profile
/ReadOnly.profile
/SolutionManager.profile
/Standard.profile
/StandardAul.profile
