.appcloud
.appcloud/.project
.settings
.sfdx
/browser_tests
/test_results.xml
build.properties
salesforce.schema
src/layouts/Global-Global Layout.layout
src/profiles/Customer Community Login User.profile
src/profiles/Customer Community User.profile
src/profiles/Partner Community Login User.profile
src/profiles/Partner Community User.profile
src/workflows/User.workflow
