# tool caches
**/.sfdx/
**/.vscode/
**/.cci/
**/.vscode
**/.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Python
__pycache__
venv
*.pyc

# npm/yarn
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test_results.json
/test_results.xml
junit.xml
coverage/

# LWC
**/lwc/jsconfig.json

# SFDO Project Directories
EDA
Cumulus

# cci
force-app-bak

# LWC linting
**/lwc/.eslintrc.json
**/lwc/jsconfig.json

# robot
robot/v4s/results/*
**/log.html
**/output.xml
**/report.html