/Account.object
/AccountContactRole.object
/Activity.object
/Asset.object
/CampaignMember.object
/Case.object
/CaseContactRole.object
/ContentVersion.object
/Contract.object
/ContractContactRole.object
/Event.object
/Idea.object
/Opportunity.object
/OpportunityContactRole.object
/OpportunityLineItem.object
/PartnerRole.object
/Product2.object
/Solution.object
/Task.object
/User.object
/UserLicense.object
